.navbar-nav{
  margin-left: auto;
}
*{
  background-color:#EEECDE;
  background-size: cover;
}

header nav a {
  background-color: #f8f9fa;
}

#carousell{
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: -40px;
    border-radius: 20px;
    margin-top: 40px;
}
#carousell img{
margin: 0 auto;
width: 80%;
height: 70%;
border-radius: 20px;}


#navbarResponsive{
  background-color: #343a40;
}
.container{
  background-color:#343a40;
  padding: 0px;
}
#navbarResponsive ul li{
  margin-right: 1px;
  padding: 5px;
  border-right: 5px;
  border-color:#343a40;
  background-color: #343a40;
  border-color: white;
  max-width: 400px;
  max-height: 700px;
}
#navbarResponsive ul li last-child{padding-right: 0px;}
.cont {
  margin: 0 auto;
}

.row{margin-top: 85px;
}

#texto{
  background-color:#343a40;
}
